//Colors import
@import "./colors/colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 12px;
  font-family: "Kumbh Sans", sans-serif;
  height: 100vh;
  background-image: linear-gradient($soft-violet, $soft-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.main-card {
  width: 800px;
  height: 450px;
  background-color: $white;
  padding: 20px;
  border-radius: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  box-shadow: 1px 13px 37px -14px rgba(0, 0, 0, 0.75);

  header {
    width: 400px;
    height: 90%;
    border: 1px solid transparent;

    .header-shadow {
      z-index: 1;
      width: 600px;
      margin-left: -200px;
      margin-top: -100px;
    }
    .header-img {
      position: absolute;
      z-index: 2;
      margin-top: -480px;
      margin-left: -100px;
    }
    .box-element {
      position: absolute;
      z-index: 3;
      margin-left: -100px;
      margin-top: -340px;
    }
  }
  .faq-container {
    display: flex;
    flex-direction: column;
    max-height: 85%;
    padding: 20px;
    justify-content: space-around;

    h1 {
      text-align: left;
      font-weight: 700;
      padding-bottom: 15px;
    }
    .question-card {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

/**************************/
.hidden {
  display: none;
}
.selected {
  font-weight: 700;
  .arrow-down {
    transform: rotate(180deg);
  }
}

/**********ATTRIBUTION****************/

.attribution {
  font-size: 11px;
  text-align: center;
  margin: 2px;

  a {
    color: $grayish-blue-light;
    text-decoration: none;
  }
}

/*********MEDIA****************/
@media (min-width: 1441px) {
  .main-card {
    width: 1000px;
    height: 600px;
    header {
      .header-shadow {
        z-index: 1;
        width: 700px;
        margin-left: -300px;
        margin-top: 300px;
      }
      .header-img {
        z-index: 2;
        margin-left: -100px;
        margin-top: -500px;
      }
      .box-element {
        position: absolute;
        z-index: 3;
        margin-left: -100px;
        margin-top: -370px;
      }
    }
  }
}
@media (max-width: 899px) {
  .main-card {
    width: 700px;
    header {
      .header-shadow {
        z-index: 1;
        width: 500px;
        margin-left: -200px;
        margin-top: -30px;
      }
      .header-img {
        z-index: 2;
        margin-left: -400px;
        margin-top: -10px;
      }
      .box-element {
        position: absolute;
        z-index: 3;
        margin-left: -400px;
        margin-top: 120px;
      }
    }
  }
}
@media (max-width: 745px) {
  .main-card {
    width: 95%;
    gap: 0px;
    header {
      width: 350px;
      .header-shadow {
        width: 400px;
        margin-left: -150px;
        margin-top: 100px;
      }
      .header-img {
        width: 350px;
        margin-top: 80px;
        margin-left: -300px;
      }
      .box-element {
        width: 150px;
        margin-left: -300px;
        margin-top: 170px;
      }
    }
    .faq-container {
      padding-left: 0px;
    }
  }
}
@media (max-width: 600px) {
  .main-card {
    margin-top: 50px;
    grid-template-columns: 100%;
    width: 300px;
    align-items: center;
    justify-items: center;

    header {
      .header-shadow {
        z-index: 1;
        width: 200px;
        margin-left: 70px;
        margin-top: 10px;
      }
      .header-img {
        z-index: 2;
        width: 200px;
        margin-top: -80px;
        margin-left: -200px;
      }
      .box-element {
        display: none;
      }
    }
    .faq-container {
      width: 260px;
      justify-content: space-between;
      height: 300px;
      overflow: scroll;

      h1 {
        text-align: center;
        padding-bottom: 15px;
      }
      .question-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}
